html,
body {
    height: 100%
}

body {
    /* The URL is relative to the CSS file location */
    background-image: url('images/another_background.png');
    background-size: cover;
    /* This will scale the image to cover the entire background */
    background-repeat: no-repeat;
    /* This prevents the image from repeating */
    background-attachment: fixed;
    /* This makes the background fixed in place */
    background-position: center;
    /* This centers the background image */
    margin: 0;

    font-family: "Outfit";
    font-size: 1.5rem;
    word-spacing: 0.25em;
    color: rgb(0, 0, 0);
    text-align: center;

}

h2 {
    font-size: 3rem;
}


/* Hyperlink colors */
a:link {
    color: #0000E0;
}

a:visited {
    color: #591D77;
}

a:hover {
    color: red;
}


/* Main container */
.form-container {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home-button {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background: none;
    border: none;
    box-shadow: 0 2px 2px 0 #784100;
    border-radius: 100%;
}

.home-button img {
    height: 90px;
}

.home-button :hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Field labels */
label {
    font-weight: bold;
    font-size: 1.25rem;
}

.login-label {
    text-align: left;
    margin-inline-start: 24px;
}

.signup-label {
    text-align: left;
    margin-inline-start: 45px;
}

/*.name-label, is now first-name*/
.name-label {
    text-align: left;
    margin-inline-start: 6px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/* Form elements */
.form-group {
    margin-bottom: 1.5rem;
}

.form-group-name {
    display: flex;
    columns: 2;
    width: 80%;
    margin-bottom: 1.5rem;
}

.form-group-name input {
    width: 85%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: inset 2px 2px 2px #ccc;
    border-radius: 5px;
}

.form-box {
    background-color: #FF9F2D;
    color: #000;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.form-box button {
    text-align: center;
    padding: 5px 25px;
    background: #000000;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: "Outfit";
    text-decoration: none;
    width: 35%;
    font-size: 1.5rem;
    box-shadow: 3px 3px 3px #784100;
}

.form-box button:hover {
    background-color: #ccc;
    color: #000;
}

.form-group input {
    width: 75%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: inset 2px 2px 2px #ccc;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.form-group img {
    margin-left: 0.01rem;
    height: 1.5rem;
    display: inline-block;
}

.form-group button {
    text-align: center;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    width: 91%;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    background: #000000;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 3px #784100;
}

.form-group button:hover {
    background-color: #ccc;
    color: #000;
}

#loginResult {
    border-radius: 10px;
    padding: 0.75rem;
    width: 100%;
    color: #b11030;
    font-size: 1.25rem;
    font-family: 'Outfit';
}

#incorrectPassword {
    border-radius: 10px;
    width: 100%;
    border-color: #B50000;
}

#signupResult {
    border-radius: 10px;
    padding: 0.75rem;
    width: 100%;
    color: #b11030;
    font-size: 1.25rem;
    font-family: 'Outfit';
    /*
    margin-bottom: 2px;
    color: #f111d7;
    font-size: 1rem;
    */
}

/* Username/Password Signup Error */
.error-message {
    font-size: 1rem;
    background-color: papayawhip;
    border-radius: 5px;
    padding: 0.75rem;
    margin-top: 2px;
    display: none;
    width: fit-content;
    max-width: 100%;
    color: #FFB6C1;
    font-family: 'Outfit';
    margin: 2px auto 0;
    text-align: center;
}


#submission-box.invalid {
    animation: wiggle .5s linear;
}

@keyframes wiggle {

    5%,
    41% {
        -webkit-transform: translateX(-10px);
    }

    10%,
    58% {
        -webkit-transform: translateX(15px);
    }

    65% {
        -webkit-transform: translateX(-5px);
    }

    22% {
        -webkit-transform: translateX(5px);
    }

    0%,
    100% {
        -webkit-transform: translateX(0);
    }
}

.wrapper {
    color: rgb(0, 0, 0)
}

.username {
    font-size: 25px;

}

.password {
    font-size: 25px;

}

.wrapper h4 {
    font-size: 3rem;
}

.login {

    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    background: #000000;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.signup {
    padding: 10px 20px;
    border-radius: 20px;
    background: #000000;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Contacts Page */
.contacts-container {
    align-content: center;
    display: grid;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 3px solid black;
    background-color: #ffd9ab;
    /*#ffd9ab*/
    border-radius: 15px;
    text-align: left;
    align-self: center;
    font-size: 1.25rem;
    table-layout: fixed;
}

thead {
    background-color: #FF9F2D;
}

thead th {
    border-bottom: 3px solid black;
    padding: 0.5rem;
}

thead th:first-child {
    border-radius: 15px 0px 0px 0px;
}

thead th:last-child {
    border-radius: 0px 15px 0px 0px;
}

td,
th {
    overflow: hidden;
    padding: 0.25rem;
}

tr:nth-child(even) {
    background-color: #facc93;
}

tr:last-child td:first-child {
    border-radius: 0px 0px 0px 15px;
}

tr:last-child td:last-child {
    border-radius: 0px 0px 15px 0px;
}

.table-container {
    /*max-height: 800px;*/
    overflow: auto;
}

.table-scroll {
    overflow-y: scroll;
}

.hint {
    display: none;
    position: absolute;
    background-color: #ffffcc;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
}

#phoneField:hover .hint {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

#emailField:hover .hint {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/*testing stuff*/
.hint-message {
    position: absolute;
    padding: 10px 20px;
    background-color: #fdfefffa;
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    font-size: smaller;
    transform: scale(0.8);
    pointer-events: none;
}

.hint-message.show {
    opacity: 1;
    transform: scale(1);
}


@keyframes hintAnimation {
    from {
        opacity: 0;
        transform: translateY(-5px);

    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hintDisappear {
    from {
        opacity: 1;
        transform: translateY(0px);

    }

    to {
        opacity: 1;
        transform: translateY(-5px);
    }
}

.hint-message.animated {
    animation: hintAnimation 0.5s ease-out forwards;
}

.hint-message.disappear {
    animation: hintDisappear 0.5s ease-out forwards;
}

/*end of testing stuff */

#addEmailInput {
    margin-bottom: 2px;
    width: 75%;
}

#addPhoneInput {
    margin-bottom: 2px;
}

#addPhoneResult {
    display: block;
    /*margin-top: 1px;*/
    color: #b11030;
    font-size: 1rem;
}


#addEmailResult {
    display: block;
    /*margin-top: 1px;*/
    color: #b11030;
    font-size: 1rem;
}

#tableCellHasError {
    width: 100%;
    flex-direction: column;

}

.rows {
    border-radius: 15px;
}

/* Highlight row on hover */
tr#search-entry:hover {
    background-color: #fff0dd;
}

td input {
    padding: 0.5rem;
    border: 2px solid black;
    box-shadow: inset 2px 2px 2px #ccc;
    border-radius: 5px;
}

td button {
    text-align: center;
    padding: 5px 25px;
    background: #000000;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: "Outfit";
    text-decoration: none;
    font-size: 1rem;
    width: fit-content;
    box-shadow: 3px 3px 3px #aa5d00;
    position: relative;
}

td button:hover {
    cursor: pointer;
    background: #FF9F2D;
    color: black;
}

td button:active {
    background: #FF9F2D;
    color: black;
    box-shadow: 1px 1px 1px #000000;
}

td button#edit-button:after {
    font-family: "FontAwesome";
    content: "\f040";
    font-size: x-large;
}

td button#delete-button:after {
    font-family: "FontAwesome";
    content: "\f1f8";
    font-size: x-large;
}

td button#delete-button {
    margin-left: 1rem;
    margin-right: 1rem;
}

td button#save-button:after {
    font-family: "FontAwesome";
    content: "\f0c7";
    font-size: x-large;
}

td button#saveButton {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Search Bar */
.search-bar {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.search-bar label {
    font-size: 1.5rem;
}

.search-bar input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: none;
    box-shadow: inset 2px 2px 2px #ccc;
    font-size: 1rem;
}

.search-bar button {
    padding: 8px 10px 8px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    border-left: none;
    box-shadow: inset 2px 2px 2px #ccc;
    cursor: pointer;
}

.search-bar button#refresh-button {
    font-family: "FontAwesome";
    font-size: large;
    background-color: #ddd;
    border-radius: 50%;
}

/* Footer */
#github-mark {
    width: 50px;
    height: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
}